

#submit-div{
	width: 100%;
	padding: 15px;
	text-align: center;
}

.btn-run{
	margin-top: 30px;
	width: 220px;
	height: 60px;
	font-size: 0.5em;
}

.title{
	margin-right: 20px;
	margin-top: 10px;
	font-size: 20px;
	color: black;
	font-weight: bold;
}


.input-div{
	min-height: 320px;
	padding: 5px 10px;
	margin-top: 5px;
	border: 1px solid;
	border-color:#b9b9b9;
	display:inline-block;
	text-align: left;
	font-size: 15px;
}


.input-wm-div{
	padding: 8px;
	margin-top: 5px;	
	margin-bottom: 10px;
	border: 1px solid;
	border-color:#b9b9b9;
}


.elements-div{
	text-align: center;
}

.input_dm {
	margin: 10px 10px;
	border: 1px solid;
	border-color: #b9b9b9;
	align-content: center;
	background: white;
}

.pozo_input {
	padding: 0px 30px;
	border: solid 1px;
	border-radius: 5px;
	border-color: #afafaf;	
	background: #f8f8f8;
	margin-bottom: 20px;
}

.pozo_input_wm {
	height: 420px;
	overflow: auto;
	padding: 0px 30px;
	border: solid 1px;
	border-radius: 5px;
	border-color: #afafaf;
}

